@font-face {
font-family:'PutjayBold';
src:url(../font/font/Quadranta-Bold.otf);
}

@font-face {
font-family:'PutjayRegular';
src:url(../font/font/Quadranta-Regular.otf);
}
/*------------------------------------------------------------*/
/************* FOR PUBLIC *************************/
*{
	margin:0;
	padding:0;
}
.normal_margin{
margin:0;
}
.normal_padding{
padding: 0;
}
/*************************************************/