@import '../variable';
@import '../mixin';
*{
    margin:0;
    padding:0;
}
body{
    color:$font_color;
    font-family:$font_family;
}

.enem_container{
    @include w100_relative;
}
.container_enem_user_create{
    position: relative; width: 100%; height: 100%; padding:70px;
}
.enem_box_title_center{
    @include create_box_title_center;
}
.box_title_custom{
    padding:$padding_all;
}
.wrapper_enem_user_create{
    position: relative; width: 400px; height: auto; background: #F9F9F9; margin:auto;
    @include box_shadow($shadow,$shadow_color);
    @include border_radius($radius_all);
}
.enem_success_btn{
    background:#00E676;
    border:1px solid #00C853;
    color:white;
}
.enem_col_1,.enem_col_1_md,.enem_col_1_sml{
    width: 8.33%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_2.enem_col_2_md,.enem_col_2_sml{
    width: 16.67%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_3.enem_col_3_md,.enem_col_3_sml{
    width: 25%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_4.enem_col_4_md,.enem_col_4_sml{
    width: 33.33%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_5.enem_col_5_md,.enem_col_5_sml{
    width: 41.67%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_6.enem_col_6_md,.enem_col_6_sml{
    width: 50%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_7.enem_col_7_md,.enem_col_7_sml{
    width: 58.33%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_8.enem_col_8_md,.enem_col_8_sml{
    width: 66.67%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_9.enem_col_9_md,.enem_col_9_sml{
    width: 75%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_10.enem_col_10_md,.enem_col_10_sml{
    width: 83.33%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_11.enem_col_11_md,.enem_col_11_sml{
    width: 91.67%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_col_12.enem_col_12_md,.enem_col_12_sml{
    width: 100%;
    @include create_padding_for_grid;
    @include create_enem_grid_12;
}
.enem_row{
    @include create_enem_row;
}
.enem_input{
    @include create_enem_input(1px solid rgba(0,0,0,0.3),10px 5px);
}
.enem_no_padding{
    padding:0;
}
.enem_no_margin{
    margin:0;
}

.enem_input_login_var,.enem_input_login_pass{
    border-radius:3px;
    width:100%;
}

.menu_btn{
	transition:all 200ms ease-in-out;
}
.menu_btn:hover{
	background:rgba(0,0,0,0.2);
	transition:all 200ms ease-in-out;
}
.menu_btn span:hover{
	color:white;
	transition:all 200ms ease-in-out;
}
.enem_navbar{
    border-radius: 0px;
    border-top:0;
    border-left:0;
}
.main_header{
    background: linear-gradient(#3F94BF, #246485);
    padding: 5px;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    transition: all 0.3 ease;
}
.page_wrap{
    float: right;
    width: 100%;
    transition: width 500ms ease;
}
.main_nav{
    position: fixed;
    top:0;
    width: 0;
    height: 100%;
    background: darkseagreen;
    overflow-y: auto;
    transition: width 500ms ease;
    /*a{
        display:block;
        background: linear-gradient(#3F94BF, #246485);
        border-top:1px solid #484848;
        border-bottom:1px solid #282828;
        color:white;
        padding:15px;
        &:hover, &:focus{
            background: linear-gradient(#484848, #383838);
        }
    }
    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 34px;
        background: linear-gradient(left, rgba(black,0), rgba(black, 0.4));
    }*/
}
#main_nav:target{
    width: 20%;
}
#main_nav:target + .page_wrap{
    width: 80%;
    .open_menu{
        display:none;
    }
    .close_menu{
        display: block;
    }
    .main_header{
        width: 80%;
        left: 20%;
    }
}
.menu_open{
    width: 20%;
}
.menu_close{
    width: 0;
}
.page_slide{
    width: 80%;
}
.page_slide_normal{
    width: 100%;
}
