/******************* COLOR and FONT ***************/
$panel_color:#f9f9f9;
$font_color:#949494;
$font_family:Sans-serif;
$enem_btn_success:#00E676;
/*****************************************/

/***************** BOX SHADOW *************/
$shadow:2px 2px 5px;
$shadow_color:rgba(0, 0, 0, 0.5);
/******************************************/

/************** Radius ***********/
$radius_all:3px;
$radius_top:3px 0px;
$radius_bottom: 0px 3px;
$radius_none:0px;
/*********************************/

/************** FLOAT ************/
$float_left:left;
$float_right:right;
/*********************************/

/************** PADDING **********/
$padding_all:11px;
/*********************************/